<!--@subject  Chernandez Event Notification @-->
<!--@vars
{"var event_content":"Content"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<tr>
    <td valign="top">
        <div style="width: 600px; margin: 0 auto; background-color: #f3f3f3; padding: 50px">
            <h1 style="font-size:25px; text-align: left; font-family: Arial, arial, Helvetica, sans-serif; color: #222; font-weight:bold; line-height:25px; margin:0 0 20px 0;">Event Report</h1>
            <p style="font-family: Arial, arial, Helvetica, sans-serif;color: black;">{{var event_content}}</p>
        </div>
    </td>
</tr>